<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2-debug</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <div class="container">
      <p id="notice"><%= notice %></p>
      	<% if @book.errors.any? %>
    		<div id="error_explanation">
    			<h3><%= @book.errors.count %>error prohibited this obj from being saved:</h3>
    			<ul>
    				<% @book.errors.full_messages.each do |message| %>
    				<li><%= message %></li>
  				<% end %>
  	  		</ul>
		    </div>
		    <% end %>


    </div>
    <%= yield %>

    <%= render 'layouts/footer' %>
  </body>
</html>
